:root[color-scheme="light"] {
	--mm-scrollbar-track: var(--mm-background);
		--mm-scrollbar-thumb-bg: var(--mm-outline-variant);
		--mm-scrollbar-thumb-border-radius: 1px;

	--mm-color-background: var(--mm-color-background-light);
		--mm-color-on-background: var(--mm-color-on-background-light);

	--mm-color-surface: var(--mm-color-surface-light);
		--mm-color-on-surface: var(--mm-color-on-surface-light);

	--mm-color-surface-variant: var(--mm-color-surface-variant-light);
		--mm-color-on-surface-variant: var(--mm-color-surface-variant-light);

	--mm-color-primary: var(--mm-color-primary-light);
		--mm-color-on-primary: var(--mm-color-on-primary-light);

	--mm-color-primary-container: var(--mm-color-primary-container-light);
		--mm-color-on-primary-container: var(--mm-color-on-primary-container-light);

	--mm-color-secondary: var(--mm-color-secondary-light);
		--mm-color-on-secondary: var(--mm-color-on-secondary-light);

	--mm-color-secondary-container: var(--mm-color-secondary-container-light);
		--mm-color-on-secondary-container: var(--mm-color-on-secondary-container-light);

	--mm-color-surface-variant: var(--mm-color-surface-variant-light);
		--mm-color-on-surface-variant: var(--mm-color-on-surface-variant-light);

	--mm-color-tertiary: var(--mm-color-tertiary-light);
		--mm-color-on-tertiary: var(--mm-color-on-tertiary-light);

	--mm-color-tertiary-container: var(--mm-color-tertiary-container-light);
		--mm-color-on-tertiary-container: var(--mm-color-on-tertiary-container-light);

	--mm-color-error: var(--mm-color-error-light);
		--mm-color-on-error: var(--mm-color-on-error-light);

	--mm-color-error-container: var(--mm-color-error-container-light);
		--mm-color-on-error-container: var(--mm-color-on-error-container-light);

	--mm-color-warning: var(--mm-color-warning-light);
		--mm-color-on-warning: var(--mm-color-on-warning-light);

	--mm-color-warning-container: var(--mm-color-warning-container-light);
		--mm-color-warning-on-container: var(--mm-color-on-warning-container-light);

	--mm-color-success: var(--mm-color-success-light);
		--mm-color-on-success: var(--mm-color-on-success-light);

	--mm-color-success-container: var(--mm-color-success-container-light);
		--mm-color-on-success-container: var(--mm-color-on-success-container-light);

	--mm-color-outline: var(--mm-color-outline-light);
		--mm-color-outline-variant: var(--mm-color-outline-variant-light);
}